<script src="https://js.stripe.com/v3/"></script>
<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="login" slot="start"></ion-back-button>
    <ion-title>Regisztráció</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding center">
  <form id="form" fxLayout="column" [formGroup]="formData" (ngSubmit)="regForm()">
    
      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="E-mail cím" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formData.get('email').touched && formData.get('email').errors?.required">E-mail cím megadása kötelező!</ion-note>
      <ion-note color="danger" *ngIf="formData.get('email').touched && formData.get('email').errors?.pattern">Érvényes e-mail cím megadása kötelező!</ion-note>
      <ion-item>
        <ion-input formControlName="pass1" minlength="6" [type]="showPassword1 ? 'text' : 'password'" placeholder="Jelszó"></ion-input>
        <ion-icon slot="end" [name]="passwordToogleIcon1" (click)="tooglePassword1()"></ion-icon>
      </ion-item>
      <ion-note color="danger" *ngIf="formData.get('pass1').touched && (formData.get('pass1').value.length < 6)">A jelszónak legalább 6 karakterből kell állnia!</ion-note>
      <ion-item>
        <ion-input formControlName="pass2" minlength="6" [type]="showPassword2 ? 'text' : 'password'" placeholder="Jelszó megerősítése"></ion-input>
        <ion-icon slot="end" [name]="passwordToogleIcon2" (click)="tooglePassword2()"></ion-icon>
      </ion-item>
      <ion-note color="danger" *ngIf="formData.get('pass1').touched && formData.get('pass2').touched && (formData.get('pass1').value != formData.get('pass2').value)">A jelszavaknak egyezniük kell!</ion-note>
      <ion-note color="danger" *ngIf="formData.get('pass2').touched && formData.get('pass2').errors?.required">A jelszó megerősítése kötelező!</ion-note>
      <ion-item>
        <ion-input formControlName="apiKey" placeholder="API key"></ion-input>
      </ion-item>    
    
    <ion-button shape="round" type="submit" [disabled]="!formData.valid">Regisztráció</ion-button>
  </form>
    

</ion-content>
